
<h2 class="text-2xl py-8"> instances </h2>
<% if @instances.size == 0 %>
  No instances!
<% end %>
<table>
<% @instances.each do |instance| %>
  <tr>
    <td><%= instance.puzzle_id %> </td>
    <td class="p-4"> <%= link_to 'Shut down', "/instances/#{instance.digitalocean_id}/shutdown", class: "border border-gray-700 text-gray-700 rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:text-white hover:bg-gray-800 focus:outline-none focus:shadow-outline" %>  
    </td>
  </tr>
<% end %>
</table>

<h2 class="text-2xl py-8"> puzzles </h2>

<table>
  <tbody>
      <div class="grid auto-cols-max my-4">
    <% @puzzles.each do |puzzle| %>
        <div class="col-start-1 my-4"><%= link_to puzzle.title, puzzle  %></div>
        <div class="col-start-2 my-4"><%= link_to 'Edit', edit_puzzle_path(puzzle), class: 'btn' %></div>
        <% if puzzle.published? %>
          <div class="col-start-3 my-4"><%= link_to 'Unpublish', "/puzzles/#{puzzle.id}/unpublish", class: 'btn' %></div>
        <% else %>
          <div class="col-start-3 my-4"><%= link_to 'Publish', "/puzzles/#{puzzle.id}/publish", class: 'btn' %></div>
        <% end %>
    <% end %>
      </div>
  </tbody>
</table>


<div class="mt-16">
<%= link_to 'New Puzzle', new_puzzle_path, class: 'btn' %>
</div>
