
<h2 class="text-2xl py-8"> Sessions </h2>
<% if @sessions.size == 0 %>
  No sessions!
<% end %>
<table>
  <tr>
  <th>name</th>
  <th>email</th>
  <th></th>
  </tr>
<% @sessions.each do |session| %>
  <tr>
    <td><%= session.puzzle.title %> </td>
    <td class="px-4"><%= session.user.email %> </td>
    <td class="px-4"> 
      <%= button_to "delete", session, method: :delete, class: "border border-gray-700 text-gray-700 rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:text-white hover:bg-gray-800 focus:outline-none focus:shadow-outline" %>
    </td>
  </tr>
<% end %>
</table>

<h2 class="text-2xl py-8"> puzzles </h2>

<table>
  <tbody>
    <div class="grid auto-cols-max">
      <% @puzzles.each do |puzzle| %>
        <span class="p-2 mb-4 mr-4 underline col-start-1">
          <%= link_to puzzle.title, puzzle  %>
        </span>
        <div class="col-start-2 mb-4">
          <%= button_to 'Start', sessions_url(puzzle_id: puzzle.id), class: "m-auto rounded-full px-4 mr-2 border-2 border-black text-black p-2 rounded  leading-none flex text-center items-center" %> 
        </div>
      <% end %>
    </div>
  </tbody>
</table>
