<p id="notice"><%= notice %></p>

<script>
const application = Stimulus.Application.start();

class HelloController extends Stimulus.Controller {
  static classes = [ "invisible" ];

  static get targets() {
    return ["links", "pending", "iframe", "requestButton", "permissionGotten"];
  }
  
  // going to try to keep erb-templated-js to a minimum but this seems ok I think?
  check_if_running() {
    console.log('checking running...')
    var digitalocean_id = <%= @session&.digitalocean_id  || 0 %>;
    if (digitalocean_id == 0) {
      if (this.checkTimer) {
        clearInterval(this.checkTimer);
      }
      return;
    }
    fetch(`/sessions/${digitalocean_id}/status`)
      .then(response => response.json())
      .then(data => {
        console.log("i'm here.. ")
        let state = data['status'];
        if (state == 'running') {
          if (this.checkTimer) {
            clearInterval(this.checkTimer);
          }
          this.pendingTarget.classList.add("hidden");
          this.iframeTarget.src = this.iframeTarget.src;
          this.linksTarget.classList.remove("hidden");
          if (Notification.permission == 'granted') {
            new Notification("Exploding Computer Puzzles: Your puzzle is ready to play!");
          }
          // reload iframe
          window.addEventListener('beforeunload', function(event) {event.preventDefault()});
        } 
      })
  }

  permission_gotten() {
    this.requestButtonTarget.classList.add('hidden');
    this.permissionGottenTarget.classList.remove('hidden');
  }
  request_permission() {
    Notification.requestPermission().then(permission => { 
      console.log('got permission')
      this.permission_gotten();
    });
  }

  connect(){
    this.checkTimer = setInterval(() => { this.check_if_running() }, 1000);
    if (Notification.permission == 'granted') {
      this.permission_gotten();
    }
  }
};

application.register("hello", HelloController);
</script>
<h1 class="text-4xl mb-8"><%=@session.puzzle.title %></h1>

<% if @session&.status == 'running' %>
  <div class="py-8">
  <%= link_to 'â† Back to puzzles', '/', class: 'btn' %>
  <%= link_to "I'm finished!", "/puzzles/#{@puzzle.id}/finished", class: 'btn' %>
  </div>
    <div class="w-full" style="height: 500px">
      <iframe src="/proxy/<%=@session.proxy_id%>/" title="description" height="100%" width="100%"> </iframe>
    </div>

    <a class="underline" href="/proxy/<%=@session.proxy_id%>/">Open full screen</a>

  <script>
  </script>
 </div>
<% elsif @session&.status == 'pending' %>
 <div data-controller="hello">
   <div data-hello-target="pending">
     <p class="text-2xl">Waiting for puzzle virtual machine to start... (takes about a minute)</p>
     <svg width="40px" version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve"> <path fill="#000" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50"> <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="1s" from="0 50 50" to="360 50 50" repeatCount="indefinite" /> </path> </svg>

     <p class="hidden" data-hello-target="permissionGotten"> You'll get a notification when the puzzle is ready to play. </p>
     <button class="btn" data-hello-target="requestButton" data-action="hello#request_permission">Notify me when it's ready</button>
   </div>
   <div class="hidden" data-hello-target="links">
     <div class="w-full" style="height: 500px">
       <iframe data-hello-target="iframe" src="/proxy/<%=@session.proxy_id%>/" title="description" height="100%" width="100%"> </iframe>
     </div>

    <a class="underline" href="/proxy/<%=@session.proxy_id%>/">Open full screen</a>
   </div>
 </div>
<% else %>
  <%= link_to 'Start', "/puzzles/#{@puzzle.id}/start", class: "border border-gray-700 text-gray-700 rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:text-white hover:bg-gray-800 focus:outline-none focus:shadow-outline" %> 
<% end %>
