<p id="notice"><%= notice %></p>

<h1 class="text-4xl mb-2"><%=@session.puzzle.title %></h1>
  <div class="py-4">
  <%= link_to '← Back to puzzles', '/', class: 'btn' %>
  <%= link_to "I'm finished!", "/puzzles/#{@session.puzzle.id}/finished", class: 'btn' %>
  </div>
<style>
p {
  margin: .8em 0;
}
</style>
<div class="-mb-4 ml-8 mt-8">
  <span class="rounded-xl p-2 text-2xl border border-green-800 bg-yellow-100">Your mission</span>
</div>
<div class="rounded-2xl mb-4 border border-green-800 text-xl px-4  py-4 pb-2">
  <%= markdown(@session.puzzle.description) %>
</div>


<% if @session.status == 'running' %>
    <div class="w-full border-black border-8 rounded-3xl p-4" style="height: 500px; background-color: #fcf4dc">
      <div class="w-full h-full p-2 rounded border border-yellow-800" style="border-color: #d7c89c">
        <iframe src="/proxy/<%=@session.proxy_id%>/" title="description" height="100%" width="100%"> </iframe>
      </div>
    </div>

    <a class="underline" href="/proxy/<%=@session.proxy_id%>/">Open full screen</a>

 </div>
<% else %>
<style>
#progress {
  padding-top: 8em;
  width: 100%;
  text-align: center;
}
.progress {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: -30px 20px 0;
    font: 20px/60px monospace;
    text-align: center;
    color: white;
    background: slategray;
    border-radius: 50%;
}
</style>
<div id="app">
   <div v-if="!finished">
   </div>
   <div class="w-full border-black border-8 rounded-3xl p-4" style="height: 500px; background-color: #fcf4dc">
     <div class="w-full h-full p-2 rounded border border-yellow-800" style="border-color: #d7c89c">
       <iframe v-if="finished" v-bind:src="iframeSource" title="description" height="100%" width="100%"> </iframe>
       <div v-else id="progress">
         <span class="text-2xl">Loading...</span> <br><br><br>
         <div v-for="i in 5" class="progress"> {{symbol(i, idx)}}</div>
       </div>
     </div>
   </div>

    <a class="underline" href="/proxy/<%=@session.proxy_id%>/">Open full screen</a>
   </div>
 </div>
<script src="https://unpkg.com/vue"></script>
<script>
Vue.config.ignoredElements = ['iframe'];
var app = new Vue({
  el: '#app',
  data: {
    finished: false,
    iframeSource: "",
    idx: 0,
    seqs: [
        ['bq', 'dp', 'qb', 'pd'],
        ['bo', 'do', 'ob', 'od', 'oq', 'op', 'qo', 'po'],
        ['o', 'O', '0', 'O'],
        ['/', '—', '\\'],
        ['-', '—', '--', '——', '---', '———', '---', '——', '--', '—']
    ]
  },
  methods: {
    symbol: function(i, idx) {
      symbols = this.seqs[i-1];
      const len = symbols.length;
      return symbols[idx % len];
    },
  }
})
setInterval(function() {app.idx = app.idx + 1}, 150)
const evtSource = new EventSource("/sessions/<%=@session.id%>/stream", { withCredentials: true })
evtSource.addEventListener("status", function(event) {
  console.log("status", event.data, event.id);
});
evtSource.addEventListener("finished", function(event) {
  app.finished = true;
  evtSource.close();
  // reload the iframe
  app.iframeSource = "/proxy/<%=@session.proxy_id%>/";
});
</script>


<% end %>
