<%= form_with(model: puzzle, local: true) do |form| %>
  <% if puzzle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(puzzle.errors.count, "error") %> prohibited this puzzle from being saved:</h2>

      <ul>
        <% puzzle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :cloud_init %>
    <%= form.text_area :cloud_init %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
